/* Versão Mobile 375px*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --ff-primary: 'Inter', sans-serif;
  font-size: 62.5%;
  --fs-primary: 1.6rem;

  --cinza-meteora: #CCCCCC;
  --color-fill-white: #FFFFFF;
  --color-fill-black: #000000;
  --color-fill-secondary: #6C757D;
  --color-fill-font-color: #212529;
  --bkg-nav: #343A40;
  --hover-nav: #DAFF01;
  --border-bottom-nav: #CED4DA;
  --bkg-button-color: #9353FF;
}

body{
  /* width: 100vw; */
  min-height: 100vh;

  font-size: var(--fs-primary)
}

#page{
  width: 100%;

  margin: 0 auto;
}

.cabecalho{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cabecalho header{
  background-color: var(--color-fill-black);

  display: flex;
  justify-content: space-between;

  padding: 2rem 2.2rem;

  position: relative;
}

.cabecalho header .header-img{
  width: 12.6rem;
  height: 1.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho header .header-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cabecalho header .header-sidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
}

.cabecalho header .header-sidebar i{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.8rem;

  color: yellow;

  cursor: pointer;
}

header .navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 15.4rem;
  height: 19.7rem;

  padding: 1.4rem 2.7rem;

  background-color: var(--bkg-nav);

  list-style: none;

  position: absolute;
  top: 0;
  left: 22.8rem;
  z-index: 1;

  visibility: hidden;
}

header ul li{
  padding-bottom: 8px;

  border-bottom: 1px solid var(--border-bottom-nav);
}

header ul li:nth-child(5){
  border: none;
}

header ul li a{
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: var(--color-fill-white);

  text-decoration: none;
}

header ul li a:hover{
  color: var(--hover-nav);
}

header ul i{
  align-self: flex-end;

  width: 1.8rem;
  height: 1.7rem;

  font-size: 2.8rem;

  color: yellow;

  cursor: pointer;
}

.cabecalho .cabecalho-search{
  background-color: var(--color-fill-white);

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2.4rem 2.5rem 2.4rem 2.7rem;
}

.cabecalho-search .search-campos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  /* width: 32.3rem; */
}

.cabecalho-search .pesquisar-campo{
  width: 33.6rem;
  position: relative;
}

.cabecalho-search .pesquisar-campo label{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.cabecalho-search .pesquisar-campo input{
  font-family: var(--ff-primary);
  font-size: 1.3rem;
  line-height: 2rem;

  color: var(--color-fill-black);

  width: 100%;
  height: 3.7rem;
  padding: 9px 1.9rem 9px 1.2rem;

  border: 1px solid var(--color-fill-secondary);
  border-radius: 0;

  outline: none;
}

.cabecalho-search .pesquisar-campo input::placeholder{
  color: var(--color-fill-secondary);
}

.cabecalho-search .pesquisar-campo input:focus{
  outline: 1px solid var(--color-fill-black);
}

.cabecalho-search .pesquisar-submit{
  width: 8.9rem;
}

.cabecalho-search .pesquisar-button button{
  background-color: var(--color-fill-white);
  color: var(--color-fill-black);

  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: var(--fs-primary);
  line-height: 1.9rem;
  letter-spacing: 0.457143px;

  width: 100%;
  height: 3.7rem;

  padding: 9px 1.7rem;

  border: 1px solid var(--color-fill-black);

  cursor: pointer;
}

.cabecalho-search .pesquisar-button button:hover{
  background-color: var(--color-fill-black);
  color: var(--color-fill-white);
}

.cabecalho-search .pesquisar-button button:focus{
  outline: 1px solid var(--color-fill-black);
}

.carrossel{
  position: relative;

  width: 100%;
}

.carrossel-imgs{
  width: 100%;
}

.carrossel-imgs img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carrossel-indicators{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 10.2rem;

  position: absolute;
  bottom: 2.6rem;
  left: 14rem;
}

.carrossel-indicators .indicator{
  background-color: var(--color-fill-white);

  width: 3rem;
  height: 3px;
}

.paths-wrappe{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 0 1rem;

  position: absolute;
  top: 21.2rem;
}

.categorias{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 2.4rem 2.7rem 5rem;
}

.categorias h2{
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;
  text-align: center;

  margin-bottom: 2.4rem;

  color: var(--color-fill-font-color);
}

.categorias .categorias-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;

  width: 100%;

  animation: slideToTop 700ms 300ms backwards;
}

.categorias-cards .card-produto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 19.2rem;
}

.categorias-cards .card-produto .card-img{
  overflow: hidden;
}

.categorias-cards .card-produto img{
  width: 100%;
  height: 100%;
  object-fit: cover;

  margin: 0;

  transition: transform 200ms ease;
}

.categorias-cards .card-produto:hover img{
  transform: scale(1.1);
}

.categorias-cards .card-produto span{
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-fill-black);
  color: var(--color-fill-white);

  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: var(--fs-primary);
  line-height: 1.9rem;

  width: 100%;
  height: 3.5rem;

  cursor: pointer;
}

.produtos-bombando{
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding: 0 1.7rem;
}

.produtos-bombando h2{
  font-size: 2.8rem;
  font-family: var(--ff-primary);
  font-weight: 500;

  color: var(--color-fill-font-color);

  text-align: center;
}

.produtos-bombando .produto-card{
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;

  padding-bottom: 1.6rem;

  border: 1px solid rgba(0, 0, 0, 0.13);
}

.produto-card .produto-img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
} 

.produto-card .produto-img img{
  width: 100%;
  height: auto;
  object-fit: cover;

  border-radius: 0;

  transition: transform 200ms ease;
}

.produto-card:hover img{
  transform: scale(1.1);
}

.produto-card .produto-descricao{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  padding: 0 1.6rem;
}

.produto-card .produto-descricao h3{
  font-size: var(--fs-primary);
  font-family: var(--ff-primary);
  font-weight: 700;
  line-height: 2.3rem;
}

.produto-card .produto-descricao p{
  font-size: 1.3rem;
  font-family: var(--ff-primary);
  line-height: 2rem;

  color: var(--color-fill-font-color);
}

.produto-card .produto-descricao span{
  font-size: 1.6rem;
  font-family: var(--ff-primary);
  font-weight: 700;
  line-height: 2.3rem;
}

.produto-card .produto-descricao button{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bkg-button-color);
  color: var(--color-fill-white);

  width: 10.2rem;

  padding: 9px 1.6rem;

  font-size: 1.6rem;
  font-family: var(--ff-primary);
  font-weight: 500;
  letter-spacing: 0.457px;

  border: none;
}

.redes-sociais{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;

  background-color: var(--color-fill-black);
  color: var(--color-fill-white);

  padding: 3.2rem 0;

  margin: 3.2rem 0
}

.redes-sociais h2{
  font-size: 2.4rem;
  font-family: var(--ff-primary);
  font-weight: 500;

  /* text-align: center; */

  min-width: 31.3rem;
}

.redes-sociais .servicos{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.servicos .servico-content{
  display: flex;
  justify-content: center;
  gap: 2.4rem;

  width: 31.9rem;
}

.servico-content .servico-img img{
  width: 100%;
  height: auto;
}

.servico-content .servico-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 23.9rem;
}

.servico-text h4{
  font-size: 16px;
  font-family: var(--ff-primary);
  font-weight: 700;
  line-height: 2.3rem;
  text-transform: uppercase;

  color: var(--hover-nav);
}

.servico-text p{
  font-size: 1.3rem;
  font-family: var(--ff-primary);
  line-height: 2rem;

  color: var(--color-fill-white);

  width: 19rem;
}

@keyframes slideToTop{
  0%{
    opacity: 0;
    transform: translateY(-30px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}